name: Sync to Hugging Face hub
on:
  push:
    branches: [experimental-branch]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "shahd@example.com"
          git config --global user.name "Shahd"
          git checkout --orphan latest_branch
          git add -A
          git commit -m "Initial deploy"
          git push --force https://Shahd11037:$HF_TOKEN@huggingface.co/spaces/Shahd11037/ReceiptOCR latest_branch:main